html {
	height: 100%;
	background-color: black;
	color: #f6f6f6;
	font-family: sans-serif;
	font-size: 12pt;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	margin: 0;
	padding: 0 2em;
}
h1 {
	font-size: 20pt;
	margin: 12pt 0;
}
h2 {
	font-size: 16pt;
	margin: 12pt 0;
}
h3 {
	font-size: 14pt;
	margin: 12pt 0;
}
ul {
	margin: 1em 0;
	padding: 0 0 0 2em;
}
li {
	margin: 0.25em 0;
}
li > small {
	color: #aaa;
	margin-left: 0.25em;
	font-size: 10pt;
}
p {
	margin: 1em 0;
}
a {
	color: #f6f6f6;
}
:focus {
	outline: #ccc auto 1px;
}
#picture {
	margin: 0 1em 0 0;
}
#picture > img {
	display: block;
	width: 200px;
	border: 0.5em solid #222;
}
#social {
	margin-top: 0.75em;
	text-align: center;
}
#social a {
	text-decoration: none;
}
#social a + a {
	margin-left: 0.5em;
}
#social img {
	height: 20px;
}
#bio {
	margin: 0 0 0 1em;
}

@media (max-width: 725px) {
	body {
		flex-flow: column-reverse;
		justify-content: flex-end;
		padding: 1em;
	}
	#picture {
		margin: 0.5em 0 0 0;
	}
	#bio {
		margin: 0 0 0.5em 0;
	}
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	html {
		display: flex;
	}
	body {
		flex: 1 1 auto;
	}
}

@media (-ms-high-contrast: active) and (max-width: 725px), (-ms-high-contrast: none) and (max-width: 725px) {  
	body {
		width: 100%;
		min-height: 0;
		align-self: flex-start;
	}
	#bio {
		align-self: stretch;
	}
}