{{#> page}}
<div id="index">
    <div id="bio">
        <h1>Jeff Camera</h1>
        <ol id="stats">
            <li>
                {{> icon "hammer"}} Full-Stack Software Engineer
            </li>
            <li>
                {{> icon "location"}} NYC
            </li>
            <li>
                {{> icon "envelope"}} jeff@
            </li>
        </ol>
    </div>
    <div id="profile">
        <img srcset="{{asset "/images/profile@1x.jpg"}}, {{asset "/images/profile@2x.jpg"}} 2x, {{asset "/images/profile@3x.jpg"}} 3x" src="{{asset "/images/profile@3x.jpg"}}" alt="Profile picture of Jeff Camera." />
        <ol id="socials">
            {{# socials}}
            <li>
                {{> social}}
            </li>
            {{/ socials}}
        </ol>
    </div>
    <main>
        <div id="lists">
            <h2>Projects</h2>
            <ol>
                {{# projects}}
                <li>
                    {{> project}}
                </li>
                {{/ projects}}
            </ol>
            <h2>Blog</h2>
            <ol>
                {{# posts}}
                <li>
                    {{> post}}
                </li>
                {{/ posts}}
            </ol>
            <h2>Recommended</h2>
            {{# recommended}}
            <h3>Fiction</h3>
            <ol>
                {{# fiction}}
                <li>
                    {{> article}}
                </li>
                {{/ fiction}}
            </ol>
            <h3>Essays</h3>
            <ol>
                {{# essays}}
                <li>
                    {{> article}}
                </li>
                {{/ essays}}
            </ol>
            <h3>Features</h3>
            <ol>
                {{# features}}
                <li>
                    {{> article}}
                </li>
                {{/ features}}
            </ol>
            <h3>Opinion</h3>
            <ol>
                {{# opinion}}
                <li>
                    {{> article}}
                </li>
                {{/ opinion}}
            </ol>
            {{/ recommended}}
        </div>
    </main>
</div>
{{/ page}}