{{#> page}}
<div id="picture">
    <img srcset="{{asset "/images/profile@1x.jpg"}}, {{asset "/images/profile@2x.jpg"}} 2x, {{asset "/images/profile@3x.jpg"}} 3x" src="{{asset "/images/profile@3x.jpg"}}" alt="Profile picture of Jeff Camera." />
    <ol>
        {{# socials}}
        <li>
            {{> social}}
        </li>
        {{/ socials}}
    </ol>
</div>
<div id="bio">
    <h1>Jeff Camera</h1>
    <p>Full-Stack Software Engineer</p>
    <p>Currently living in Toms River, NJ</p>
    <p>Email me at jeff@</p>
    <h2>Articles I've Written</h2>
    <ol>
        {{# articles}}
        <li>
            {{> article}}
        </li>
        {{/ articles}}
    </ol>
</div>
{{/ page}}