html {
    height: 100%;
    background-color: black;
    color: #f6f6f6;
    font-family: sans-serif;
    font-size: 12pt;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0 2em;
}
h1 {
    font-size: 20pt;
    margin: 12pt 0;
}
h2 {
    font-size: 16pt;
    margin: 24pt 0 12pt 0;
}
ol,
ul {
    margin: 1em 0;
    padding: 0 0 0 2em;
}
li {
    margin: 0.25em 0;
}
small {
    color: #aaa;
    font-size: 10pt;
}
p {
    margin: 1em 0;
}
a {
    color: #f6f6f6;
}
:focus {
    outline: #ccc auto 1px;
}
#picture {
    margin: 0 1em 0 0;
}
#picture > img {
    display: block;
    width: 200px;
    border-radius: 50%;
}
#picture > ol {
    display: flex;
    justify-content: center;
}
#picture > ol > li + li {
    margin-left: 0.5em;
}
#content {
    margin: 0 0 0 1em;
}
#content > ol > li + li {
    margin-top: 1em;
}
#picture > ol,
#content > ol {
    list-style: none;
    padding-left: 0;
}
#picture > ol > li,
#content > ol > li {
    margin: 0;
}
#bio li {
    display: flex;
}
#bio .icon {
    fill: #aaa;
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}
#content > #bio > li + li {
    margin-top: 0.5em;
}

@media (max-width: 725px) {
    body {
        flex-flow: column-reverse;
        justify-content: flex-end;
        padding: 1em;
    }
    #picture {
        margin: 0.5em 0 0 0;
    }
    #bio {
        margin: 0 0 0.5em 0;
    }
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    html {
        display: flex;
    }
    body {
        flex: 1 1 auto;
    }
}

@media (-ms-high-contrast: active) and (max-width: 725px), (-ms-high-contrast: none) and (max-width: 725px) {  
    body {
        width: 100%;
        min-height: 0;
        align-self: flex-start;
    }
    #bio {
        align-self: stretch;
    }
}

.article a {
    display: block;
    margin-bottom: 0.25em;
}
.article small:not(:last-of-type)::after {
    content: " •";
}

.project {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
        "logo name"
        "logo description"
        "stores stores"
        "source source";
    column-gap: 0.5em;
    row-gap: 0.25em;
}
.project .logo {
    grid-area: logo;
    height: 32px;
    filter: grayscale(0.5);
}
.project .name {
    grid-area: name;
    align-self: end;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.project .description {
    grid-area: description;
    align-self: start;
}
.project .stores {
    grid-area: stores;
    display: flex;
    align-items: center;
}
.project .stores .stars {
    --star-active: #fed94b;
    --star-inactive: #999;
    filter: grayscale(0.25);
    cursor: default;
}
.project .stores .links a {
    display: inline-flex;
    align-items: center;
}
.project .stores .links a + a,
.project .stores .links span {
    margin-left: 0.25rem;
}
.project .stores .stars + .reviews::before,
.project .stores * + .links::before {
    content: "";
    margin: 0 0.3rem;
}
.project .source {
    grid-area: source;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.project .stores,
.project .source {
    font-size: 10pt;
    color: #aaa;
}
.project .stores a,
.project .source a {
    color: #aaa;
}
.project .stores .stars .star,
.project .stores .links img {
    width: 16px;
    height: 16px;
}
@media (max-width: 619px) {
    .project .stores .links span {
        display: none;
    }
}
@media (max-width: 599px) {
    .project {
        grid-template-rows: min-content auto auto auto;
        grid-template-areas:
            "logo name"
            "description description"
            "stores stores"
            "source source";
        column-gap: 0.4em;
    }
    .project .logo {
        height: 24px;
    }
    .project .name {
        align-self: center;
    }
}
@media (max-width: 359px) {
    .project .stores .reviews .text {
        display: none;
    }
}

.social {
    text-decoration: none;
}
.social img {
    height: 20px;
}
