html {
    height: 100%;
    background-color: black;
    color: #f6f6f6;
    font-family: sans-serif;
    font-size: 12pt;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0 2em;
}
h1 {
    font-size: 20pt;
    margin: 12pt 0;
}
h2 {
    font-size: 16pt;
    margin: 24pt 0 12pt 0;
}
ol,
ul {
    margin: 1em 0;
    padding: 0 0 0 2em;
}
li {
    margin: 0.25em 0;
}
small {
    color: #aaa;
    font-size: 10pt;
}
p {
    margin: 1em 0;
}
a {
    color: #f6f6f6;
}
:focus {
    outline: #ccc auto 1px;
}
#picture {
    margin: 0 1em 0 0;
}
#picture > img {
    display: block;
    width: 200px;
    border-radius: 50%;
}
#picture > ol {
    display: flex;
    justify-content: center;
}
#picture > ol > li + li {
    margin-left: 0.5em;
}
#bio {
    margin: 0 0 0 1em;
}
#bio > ol > li + li {
    margin-top: 1em;
}
#picture > ol,
#bio > ol {
    list-style: none;
    padding-left: 0;
}
#picture > ol > li,
#bio > ol > li {
    margin: 0;
}

@media (max-width: 725px) {
    body {
        flex-flow: column-reverse;
        justify-content: flex-end;
        padding: 1em;
    }
    #picture {
        margin: 0.5em 0 0 0;
    }
    #bio {
        margin: 0 0 0.5em 0;
    }
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    html {
        display: flex;
    }
    body {
        flex: 1 1 auto;
    }
}

@media (-ms-high-contrast: active) and (max-width: 725px), (-ms-high-contrast: none) and (max-width: 725px) {  
    body {
        width: 100%;
        min-height: 0;
        align-self: flex-start;
    }
    #bio {
        align-self: stretch;
    }
}

.article a {
    display: block;
    margin-bottom: 0.25em;
}
.article small:not(:last-of-type)::after {
    content: " •";
}

.project {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "logo header"
        "body body";
    column-gap: 0.5em;
    row-gap: 0.25em;
}
.project .logo {
    grid-area: logo;
    height: 32px;
    filter: grayscale(1);
}
.project .header {
    grid-area: header;
}
.project .header .name {
    display: block;
}
.project .body {
    grid-area: body;
    font-size: 10pt;
    color: #aaa;
}
.project .body a {
    color: #aaa;
}
.project .body .source {
    display: block;
    margin-bottom: 0.25rem;
}

.social {
    text-decoration: none;
}
.social img {
    height: 20px;
}
